:root {
    --black: #292929;
}

.container {
  display: grid;
  width: 100%;
  height: 100vh;
  font-size: 20px;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(50px, 1fr));
  grid-gap: 20px;
}

h1 {
    margin-left: 200px;
    margin-top: 70px;
    margin-bottom: 60px;
    font-size: 30px;
    font-family: NexaH, sans-serif;
}

.add_post
{
    width: 70%;
    height: 80px;
    background: $grey;
    margin-top: 20px;
    margin-left: 200px;
    border-radius: 10px;
}

.add_msg
{
    width: 60%;
    border: none;
    height: 40px;
    margin-top: 20px;
    margin-left: 20px;
    align-items: center;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    font-family: NexaL;
    color: grey;
    padding-left: 30px;
    display: block;
}

.add_button
{
    width: 70px;
    height: 40px;
    background: $yellow;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    color: white;
    font-family: NexaB;
    font-size: 16px;
    padding-top: 2px;
    box-shadow: none;
    display: inline-block;
    cursor: pointer;
}

.add_msg:focus {outline:0;}
.add_button:focus {outline:0;}

h2 {
    font-size: 24px;
    font-family: NexaH, sans-serif;
}

.items_social
{
    width: 70%;
    height: 180px;
    background: $grey;
    margin-top: 20px;
    margin-left: 200px;
    border-radius: 10px;
}

.post{
    margin-left: 100px;
    font-size: 16px;
    color: #7E7D7D;
    font-family: NexaL, sans-serif;
}

.pic_home
{
    border-radius: 100px;
    margin-top: 40px;
    margin-left: 30px;
}

.username_social
{
    font-family: NexaH, sans-serif;
    font-size: 20px;
    padding-top: 30px;
    margin-bottom: -10px;
    text-transform: uppercase;
}

.social_content
{
    margin-left: 100px;
    margin-top: -150px;
}

.date_social
{
    padding-left: 550px;
    font-size: 14px;
    text-transform: uppercase;
}

.post_social
{
    display: inline-block;
    width: 250px;
}