body {
    margin: 10px;
}

.navbar {
    position: fixed;
    top: 0;
    display: grid;
    width:100px;
    height: 100vh;
    grid-template-rows: repeat(4, 4fr);
    overflow: hidden;
}

.item {
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: var(--black); /* best colour */
}

.item.active {
    background: #101010;
}

@media screen and (max-width: 800px) {
    .navbar {
      position:fixed;
      padding-left: 20%;
      bottom: 0;
      left: 0;
      width: 100vh;
      height: 80px;
      display: inline-block;
      background: var(--black);
    }

    .item{
        display: inline-block;
        height: 70px;
        width: 70px;
        padding: 0 10px;
        margin-top: 20px;
    }
  }
