:root {
    --black: #292929;
}

.profile_title {
    margin-left: 200px;
    font-size: 30px;
    font-family: NexaH, sans-serif;
}

.items_profile
{
    width: 60%;
    height: 180px;
    background: $grey;
    margin-left: 200px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.post{
    margin-left: 80px;
    margin-top: 18px;
    color: #7E7D7D;
}

.date_profile
{
    padding-left: 500px;
    font-size: 12px;
    text-transform: uppercase;
}