.profile_bar
{
    height: 100vh;
    width: 300px;
    background-color: #ECECEC;
    position: fixed;
    right: 0;
}

.profile_infos
{
    text-align: center;
    padding-top: 130px;
    font-family: NexaL, sans-serif;
    font-size: 17px;
    width: 250px;
    margin-left: 25px;
}

.pic_profile
{
    height: 100px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    background-color: rgb(159, 159, 159);
    margin-bottom: 30px;
}

.username, .bio, .profile_stats, .config_pad, .see_favorites
{
    padding-bottom: 40px;
}