.profile_bar
{
    height: 100vh;
    width: 300px;
    background-color: #ECECEC;
    position: fixed;
    right: 0;
}

.profile_infos
{
    text-align: center;
    padding-top: 130px;
    font-family: NexaL, sans-serif;
    font-size: 17px;
    width: 250px;
    margin-left: 25px;
}

.pic_profile
{
    height: 100px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    background-color: rgb(159, 159, 159);
    margin-bottom: 30px;
    border-radius: 100px;
}

.username, .bio, .profile_stats, .config_pad, .see_favorites
{
    padding-bottom: 40px;
}

.bar_infos
{
    padding-bottom: 10px;
}

.bio 
{
    line-height: 22px;
}

@media screen and (max-width: 800px) {
    .profile_bar{
        position: absolute;
        top: 80px;
        width: 100%;
        left: 0px;
    }
    
    .profile_h2
    {
        position: absolute;
        top: 0px;
        z-index: 200;
    }

    .profile_infos
    {
        width: 50vh;
    }
}