.settings{
    width: 75%;
    height: 100%;
    background: $grey;
    margin-left: 15%;
    margin-bottom: 5%; 
    border-radius: 10px;
}

h3
{
    padding-top: 22px;
}

.subsettings
{
    width: 100%;
    height: 600px;
    background:red;
    display: none;
}

.settings_title {
    margin-left: 45px;
    padding-top: 3%;
}

.form_settings {
    margin-left: 40px;
    padding: 0.5%;
}

.form_settingsI {
    padding-bottom: 5%;
}

.form_settingsII {
    display: flex;
    justify-content: center;
    padding: 5%;
}

.settings_intro {
    font-size: 18px;
    margin-left: 6%;
    font-family: NexaL;
}

.add_buttonII
{
    width: 90px;
    height: 36px;
    background: $yellow;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    color: white;
    font-family: NexaB;
    font-size: 16px;
    padding-top: 2px;
    box-shadow: none;
    display: inline-block;
    transform: translateY(-2px);
}

.settings_label {
    font-size: 15px;
    padding-bottom: 1px;
    display: inline-block;
}

.settings_input
{
    display: inline-block;
    width: 30px;
}

.choice
{
    margin-left: 62px;
}

.submit_key
{
    padding: 15px 10px 30px 10px;
    background: $yellow;
    font-family: NexaB, sans-serif;
    color: white;
    border: none;
    border-radius: 45px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 62px;
    cursor: pointer;
}
.submit_key:focus {outline:0;}
.submit_key:hover
{
    background: rgb(240, 180, 62);
}


.error
{
    position: absolute;
    right: 30%;
    top: 30%;
    font-size: 16px;
    color: red;
    font-family: NexaH, sans-serif;
}

.color_choice
{
    border:none;
    background: $grey;
    cursor:pointer;
    width: 80px;
    display: flex;
}
.color_choice:focus {outline:0;}

.colors_choice
{
    display: inline;
}