@import "variables";
@import "home";
@import "navigation";
@import "pad";
@import "login";
@import "inscription";

@font-face {
    font-family: NexaH;
    src: url(../assets/fonts//NexaBlack.otf);
}
@font-face {
    font-family: NexaL;
    src: url(../assets/fonts//Nexa-Light.otf);
}

@font-face {
    font-family: NexaB;
    src: url(../assets/fonts//NexaBlack.otf);
}

body{
    font-size: 0;
    margin: 0;
    padding: 0;
    color: black;
}

.name_login
{
    position: absolute;
    right: 160px;
    top: 62px;
    font-family: NexaH, sans-serif;
}

.off
{
    position: absolute;
    right: 125px;
    top: 60px;
    cursor: pointer;
}