@import "variables";
@import "home";
@import "navigation";
@import "pad";
@import "login";
@import "inscription";
@import "settings";
@import "profilebar";
@import "profile";

@font-face {
    font-family: NexaH;
    src: url(../assets/fonts//NexaBlack.otf);
}
@font-face {
    font-family: NexaL;
    src: url(../assets/fonts//Nexa-Light.otf);
}

@font-face {
    font-family: NexaB;
    src: url(../assets/fonts//NexaBlack.otf);
}

body{
    font-size: 0;
    margin: 0;
    padding: 0;
    color: black;
}

.name_login
{
    position: absolute;
    right: 160px;
    top: 62px;
    font-family: NexaH, sans-serif;
}

.off
{
    position: fixed;
    right: 100px;
    top: 60px;
    cursor: pointer;
}

.text_404
{
    text-align: center;
    font-family: NexaL, sans-serif;
    margin-top: 10px;
}

.link_404
{
    text-decoration: none;
    font-family: NexaB, sans-serif;
    color: $yellow;
}

.title_404
{
    margin-top: 100px;
    margin-bottom: 50px;
    font-size: 150px;
    color: $yellow;
    font-family: NexaB, sans-serif;
    text-align: center;
}

.img_404
{
    width: 50px;
    margin-left: 50%;
    margin-top: 100px;
}

@media screen and (max-width: 800px) {
    .off {
        position: fixed;
        right: 30px;
        top: 100px;
        width: 30px;
    }
  }