.pad_background {
    height: 100vh;
    display: grid;
    grid-column: 2 / 14;
    background-color: #010101;
    margin-left: -20px;
}

.pad {
    grid-column: 3 / 12;
    grid-row: 3 / 12;
    border-radius: 24px;
}

.top_title {
    color: white;
}