:root {
  --black: #292929; }

.container {
  display: grid;
  width: 100%;
  height: 100vh;
  font-size: 20px;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(50px, 1fr));
  grid-gap: 20px; }

h1 {
  position: absolute;
  left: 220px;
  top: 40px;
  font-size: 30px;
  font-family: NexaH, sans-serif; }

.items_social {
  width: 70%;
  height: 180px;
  background: #E9E9E9;
  margin-left: 200px;
  margin-bottom: 20px; }

.item_social1 {
  margin-top: 150px; }

h3 {
  margin-left: 100px;
  margin-top: 18px;
  font-family: NexaL, sans-serif;
  font-size: 16px;
  color: #7E7D7D;
  text-transform: uppercase; }

body {
  margin: 10px; }

.navbar {
  position: fixed;
  top: 0;
  display: grid;
  width: 100px;
  height: 100vh;
  grid-template-rows: repeat(4, 4fr);
  overflow: hidden; }

.item {
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: var(--black);
  /* best colour */ }

.item.active {
  background: #101010; }

.pad_background {
  height: 100vh;
  display: grid;
  grid-column: 2 / 14;
  background-color: #010101;
  margin-left: -24px; }

.pad {
  display: grid;
  grid-column: 3 / 12;
  grid-row: 2 / 11;
  border-radius: 24px;
  background-color: #252525; }

.top_title {
  color: white;
  margin-top: 20px;
  font-family: NexaL, sans-serif; }

.top_title_beats {
  grid-column: 3 / 9;
  grid-row: 1 / 8; }

.top_title_bass {
  grid-column: 5 / 9;
  grid-row: 1 / 8; }

.top_title_melodies {
  grid-column: 7 / 9;
  grid-row: 1 / 8; }

.options {
  grid-column: 10 / 11;
  grid-row: 1 / 8;
  margin-top: 20px; }

.options_img {
  width: 22%; }

.loop {
  grid-row: 1 / 8;
  margin-top: 50px;
  color: #ADADAD;
  font-family: NexaL, sans-serif;
  font-size: 16px; }

.loop_beats {
  grid-column: 3 / 11; }

.loop_bass {
  grid-column: 5 / 11; }

.loop_melodies {
  grid-column: 7 / 11;
  margin-left: 15px; }

.left_buttons {
  grid-column: 1;
  grid-row: 3 / 10;
  margin-left: 20px;
  display: grid; }

.play {
  grid-row: 2 / 7;
  grid-column: 1; }

.rec {
  grid-row: 3 / 7;
  grid-column: 1; }

.stop {
  grid-row: 4 / 7;
  grid-column: 1; }

.loop_song {
  grid-row: 5 / 7;
  grid-column: 1; }

.delete {
  grid-row: 6 / 7;
  grid-column: 1; }

.touches_beat {
  display: grid;
  background-color: #FFC24B;
  border-radius: 6px;
  height: 70px;
  width: 70px; }

.touches_bass {
  display: grid;
  background-color: #00CE6A;
  border-radius: 6px;
  height: 70px;
  width: 70px; }

.touches_melodies {
  display: grid;
  background-color: #B30000;
  border-radius: 6px;
  height: 70px;
  width: 70px; }

.left_touche_beats {
  grid-column: 1; }

.left_touches_container_beats {
  grid-column: 2 / 11;
  grid-row: 6;
  margin-left: 5px;
  display: grid;
  grid-gap: 10px; }

.right_touches_container_beats {
  grid-column: 3 / 11;
  margin-left: 10px;
  grid-row: 6;
  display: grid;
  grid-gap: 10px; }

.left_touches_container_bass {
  grid-column: 4 / 11;
  margin-left: 15px;
  grid-row: 6;
  display: grid;
  grid-gap: 10px; }

.right_touches_container_bass {
  grid-column: 5 / 11;
  margin-left: 20px;
  grid-row: 6;
  display: grid;
  grid-gap: 10px; }

.left_touches_container_melodies {
  grid-column: 6 / 11;
  margin-left: 25px;
  grid-row: 6;
  display: grid;
  grid-gap: 10px; }

.right_touches_container_melodies {
  grid-column: 7 / 11;
  margin-left: 30px;
  grid-row: 6;
  display: grid;
  grid-gap: 10px; }

.touches_container {
  display: grid;
  grid-column: 2 / 11; }

.img_pad {
  height: 100vh;
  grid: auto; }

.form {
  grid-column: 7/12;
  grid-row: 2/10;
  text-align: center; }

.login_title {
  font-size: 30px;
  font-family: NexaH, sans-serif;
  text-align: center; }

.form p {
  font-family: NexaL, sans-serif;
  font-size: 14px;
  width: 420px;
  margin-left: 100px; }

form {
  text-align: left;
  margin-left: 200px;
  margin-top: 40px; }

label {
  display: block;
  font-family: NexaL, sans-serif;
  margin-top: 40px;
  cursor: pointer; }

input {
  width: 200px;
  height: 30px;
  font-size: 16px;
  padding-left: 15px; }

input::placeholder {
  font-family: NexaL, sans-serif; }

.submit {
  width: 206px;
  height: 50px;
  background: #FFC24B;
  font-size: 16px;
  text-transform: uppercase;
  font-family: NexaH, sans-serif;
  color: white;
  border: none;
  margin-top: 50px;
  cursor: pointer;
  margin-bottom: 20px; }

.signup {
  padding: 15px 68px;
  border: 1px solid #FFC24B;
  font-size: 16px;
  text-transform: uppercase;
  font-family: NexaH, sans-serif;
  color: #FFC24B;
  text-decoration: none;
  cursor: pointer; }

.message {
  padding-top: 20px;
  font-size: 16px;
  font-family: NexaL, sans-serif;
  color: red; }

.yellow_border {
  width: 100%;
  height: 50px;
  background: #FFC24B; }

.inscription_main {
  grid-column: 3/10;
  grid-row: 2/9; }

.inscription_title {
  font-size: 30px;
  font-family: NexaH, sans-serif;
  text-align: center; }

.form_inscription {
  grid-column: 4/9;
  grid-row: 4/7;
  margin-top: -40px; }

.inscription {
  width: 220px;
  height: 50px;
  background: #FFC24B;
  font-size: 16px;
  text-transform: uppercase;
  font-family: NexaH, sans-serif;
  color: white;
  border: none;
  cursor: pointer;
  margin-bottom: 20px; }

.last_input {
  margin-bottom: 40px; }

.settings {
  width: 75%;
  height: 20%;
  background: #E9E9E9;
  margin-left: 15%;
  cursor: pointer; }
  .settings h3 {
    padding-top: 22px; }

.settings.active {
  height: 300px; }

.subsettings {
  width: 100%;
  height: 600px;
  background: red;
  display: none; }

.setting1 {
  margin-top: 150px; }

@font-face {
  font-family: NexaH;
  src: url(../assets/fonts//NexaBlack.otf); }
@font-face {
  font-family: NexaL;
  src: url(../assets/fonts//Nexa-Light.otf); }
@font-face {
  font-family: NexaB;
  src: url(../assets/fonts//NexaBlack.otf); }
body {
  font-size: 0;
  margin: 0;
  padding: 0;
  color: black; }

.name_login {
  position: absolute;
  right: 160px;
  top: 62px;
  font-family: NexaH, sans-serif; }

.off {
  position: absolute;
  right: 125px;
  top: 60px;
  cursor: pointer; }
